/* Sass Document */
@import colors
@import fonts
@import gallery

*
	margin: 0
	padding: 0
	
body
	padding: 40px

main
	width: 100%
	max-width: 860px
	margin: 0 auto
	//border: 1px solid grey

img.logo
	display: block
	margin: 1.875rem 0 2.5rem

img.logo-center
	display: block
	margin: 1.875rem auto 2.5rem

figure > img
	display: block
	margin: 1.25rem auto 0.625rem
	width: 100%
	max-width: 750px
	margin-top: 1.25rem
	margin-bottom: 0.625rem
figcaption
	margin-bottom: 2rem
	