/* Sass Document */
@import colors
@import fonts
@import gallery

*
	margin: 0
	padding: 0
	
body
	padding: 40px

main
	width: 100%
	max-width: 860px
	margin: 0 auto
	//border: 1px solid grey

img.logo
	display: block
	margin: 1.875rem auto 2.5rem